<section class="page-header">
  <h1 class="project-name">Neuro-oncologia pediátrica no Ceará</h1>
  <h2 class="project-tagline">Protocolos de tratamento neuro-oncológico usados no Centro Pediátrico do Câncer - Fortaleza/CE</h2>
  <a href="https://github.com/fhcflx/cpc-neuro" class="btn">View on GitHub</a>
  <a href="https://github.com/fhcflx/cpc-neuro/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/fhcflx/cpc-neuro/tarball/master" class="btn">Download .tar.gz</a>
  <a href="https://github.com/fhcflx/cpc-neuro/blob/master/v0.1/CPC-NEURO2014.pdf?raw=true" class="btn">Download .pdf</a>
</section>
