---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
 
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

        {% if page.previous %} 
          <span class="previous-link">
            <a rel="prev" href="{{ page.previous.url | prepend:site.github.url }}">Próxima página</a>
          </span>
        {% endif %}
        {% if page.next %} 
          <span class="next-link">
            <a rel="next" href="{{ page.next.url | prepend:site.github.url }}">Página anterior</a>
          </span>
        {% endif %}

<span class="main-page-link">
  <a rel="inicial" href="{{ site.github.url }}">Página inicial</a>
</span>
